
first01/.vs/first01/v15/.suo
first01/.vs/first01/v15/Browse.VC.db
first01/.vs/first01/v15/ipch/ae4ae4489abf6ba6.ipch
first01/Debug/first01.pdb
first01/Debug/first01.ilk
*.pdb
*.idb
*.obj
*.opendb
*.tlog
*.log
*.db
*.ipch
*.pch
*.vcxproj
*.filters
DesktopOne/.vs/DesktopOne/v15/.suo
DesktopOne/Debug/DesktopOne.exe
*.sln
*.ilk
Ex201/.vs/Ex201/v15/.suo
Ex201/Debug/Ex201.exe
*.user
